
html {
  height: 100%;
  font-family: Sans-serif;
  line-height: 25px;
  font-weight: 500;
  padding-left: -40px;
}

a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  /* display: block; */
  /* background-size: cover; */
  margin: auto;
  padding-left: 0px;
  position: static;
}

#root {
  min-height: 100vh;
  padding-left: 0px;
}

.app {
  min-height: 100vh;
  padding-left: 0px;
}


.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  position: static;
}



/*----------------------------------------LAYOUT ITEMS------------------------------------------------------------*/
main {
  display: flex;
  flex-direction: column;
  margin: 5%;
  height: 600px;
  position: static;

}

header {
  width: 100%;
  height: 100px;
  padding-left: 0px;
  padding-bottom: 10px;
}
.header-title {
  margin-top: 20px;
  text-align: center;
}


/*-----------------------------------POSITIONING----------------------------------------------------------------*/
header {
  position: fixed;
}

main {
  margin-top: 125px;
  margin-bottom: 250px;
  display: static;
}
footer {
  position: fixed;
  margin-top: 1000px;


}

/*----------------------------------------COLORS----------------------------------------------------------------*/

body {
  background-color: #E0E0E0;
  color: #393a44;
}
footer p a {
  color: #393a44;
}
header h3 {
  color: #393a44;
}
header h3:hover {
  color: black;
}

header {
  background-color: #D6D6D6;
}

nav ul li a {
  color: #393a44;
}

footer {
  background-color: #E0E0E0;
}

.about {
  border-radius: 10px;
}



/*----------------------------------------HEADER ITEMS------------------------------------------------------------*/
nav {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}


/*----------------------------------------NAV ITEMS------------------------------------------------------------*/
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0px;
}
nav ul a {
  color: white;
  text-decoration: none;
}
nav ul a:hover {
  color: grey;
}
.clicked-menu-nav a {
  color: grey;
}

/*----------------------------------------PAGE CONTAINERS------------------------------------------------------------*/
.about {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  position: static;

}
/*----------------------------------------ABOUT ITEMS------------------------------------------------------------*/
.item-one, .item-two, .item-three{
display: inline;
align-items: center;
}

/*----------------------------------------FOOTER------------------------------------------------------------*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  bottom: 0px;
  text-align: center;
  padding-top: 15px; 
  padding-left: 0px;
}
footer a {
  text-decoration: none;
  color: white;
  margin: 5px;
}
footer a:hover {
  color: grey;
}
footer a:active {
  color: grey;
}


/*----------------------------------------ARROWS------------------------------------------------------------*/
.arrow {
  font-size: 50px;
  font-weight: 0;
  color: white;
  margin-top: 280px;
  text-shadow: 0 0 5px grey;
}
.arrow-container-left:hover .arrow{
  color: grey;
}

.arrow-container-right:hover .arrow{
  color: grey;
}

.item-one, .item-two {
  margin-bottom: 20px;
}
.item-one {
  margin-left: 20px;
}

.arrow-container-right {
  position: fixed;
  width: 35px;
  text-align: left;
  padding-left: 0px;
  right: 0px;
  height: 100%;
  top:115px;
}

.arrow-container-left {
  position: fixed;
  width: 35px;
  left: 0px;
  text-align: right;
  padding-right: 0px;
  height: 100%;
  top: 115px;
}

  /*------------------------------------------------------------------------*/
.contact-href-container a {
  color: #393a44;
}
.contact-href-container {
  flex: 1;
  line-height: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: left;
  margin-left: 28px;
}

.linkedin-container:hover .linkedin-hover-message {
  display: inline;
}
.linkedin-container:hover a{
  color: black;
}
.linkedin-hover-message {
  display: none;
  color: black;
}

.github-container:hover .github-hover-message {
  display: inline;
}
.github-container:hover a{
  color: black;
}
.github-hover-message {
  display: none;
  color: black;
}

.email-container:hover .email-hover-message {
  display: inline;
}
.email-container:hover a{
  color: black;
}
.email-hover-message {
  display: none;
  color: black;
}


.phone-container:hover .phone-hover-message {
  display: inline;
}
.phone-container:hover a{
  color: black;
}
.phone-hover-message {
  display: none;
  color: black;
}

@media screen and (min-width: 650px){
  nav {
    justify-content: left;
  }
  nav ul {
    padding-left: 40px;
  }

  main {
    height: 450px;
  }
  .item-one {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .item-one-paragraph {
    flex: .7;
  }
  
  .item-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .item-two-paragraph {
    flex: .7;
  }
  
  .item-three {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  .item-three-paragraph {
    flex: .7;
  }
 

} 

@media screen and (min-width: 300px){

  nav ul li{
    margin-left: 12px;
    margin-right: 12px;
  }
}
