
html {
  height: 100%;
  font-family: Sans-serif;
  color: #9BF6FF;
  line-height: 25px;
  font-weight: 500;
  padding-left: 0px;
}

a {
  text-decoration: none;
}
body {
  min-height: 100vh;
 
  /* background-image: url('./media/ilya-pavlov-OqtafYT5kTw-unsplash.jpg'); */
  /* background-image: url('./media/felix-besombes-EzrHLVd83h0-unsplash.jpg'); */
  /* background-image: url('./media/sincerely-media-HoEYgBL_Gcs-unsplash.jpg'); */
  /* background-image: url('./media/background-pic.jpg'); */
  background-color: grey;
  background-size: cover;
  margin: auto;
  padding-left: 0px;
}

#root {
  min-height: 100vh;
  
  padding-left: 0px;
}

.app {
  min-height: 100vh;
 
  padding-left: 0px;
}


.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0px;
}



/*----------------------------------------LAYOUT ITEMS------------------------------------------------------------*/
.main {
  display: flex;
  flex-direction: row;
  margin: 5%;
  padding-left: 0px;
}

header {
  width: 100%;
  height: 100px;
  padding-left: 0px;
}
.header-title {
  margin-top: 20px;
  text-align: center;
}


/*-----------------------------------POSITIONING----------------------------------------------------------------*/
header {
  position: fixed;
  background-color: black;
}

main {
  margin-top: 100px;
  margin-bottom: 250px;
}

footer {
  position: fixed;
  margin-top: 625px;
}



/*----------------------------------------HEADER ITEMS------------------------------------------------------------*/
nav {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

/*----------------------------------------NAV ITEMS------------------------------------------------------------*/
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0px;
}
nav ul a {
  color: white;
  text-decoration: none;
}
nav ul a:hover {
  color: grey;
}
nav ul a:active {
  color: grey;
}
.clicked-menu-nav a {
  color: grey;
}



/*----------------------------------------PAGE CONTAINERS------------------------------------------------------------*/
.intro {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding: auto;

  margin-left: 50px;
  margin-right: 50px;
  padding-left: 0px;
}
.about {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: auto;
 
  /* margin-top: 10%; */
  /* margin-left: 50px;
  margin-right: 50px; add this for desktop not for mobie*/
}
/*----------------------------------------ABOUT ITEMS------------------------------------------------------------*/
.item-one {
  display: flex;
  flex-direction: row;
  justify-content: left;
 
}


.item-one-paragraph {
  flex: .7;
  border: 1px solid white;
}


.item-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-two-paragraph {
  flex: .7;
  border: 2px solid white;
}

.item-three {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.item-three-paragraph {
  flex: .7;
  border: 2px solid white;
}
/*----------------------------------------BUTTON------------------------------------------------------------*/
button  {
  display: flex;
  justify-content: center;
  padding: auto;
  width: 150px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin: auto;
}

 button:hover {
 width: 200px;
 background-color: #9BF6FF;
}

button:active {
background-color: #48CAE4;
}



/*----------------------------------------FOOTER------------------------------------------------------------*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: black;
  bottom: 0px;
  /* top: 0;
  margin-bottom: 0px; */
  /* height: 100px; */
  text-align: center;
  padding-top: 40px;
  padding-left: 0px;
}
footer a {
  text-decoration: none;
  color: white;
  margin: 5px;
}
footer a:hover {
  color: grey;
}
footer a:active {
  color: grey;
}


/*----------------------------------------BUTTONS CONTAINER------------------------------------------------------------*/
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*----------------------------------------ARROWS------------------------------------------------------------*/
.arrow {
  font-size: 60px;
  font-weight: 0;
  color: white;
  position: fixed;
}

.item-one, .item-two {
  margin-bottom: 20px;
}


.arrow:hover{
  color: grey;
}
.arrow:active {
  color: grey;
}

.arrow-column {
display: flex;
flex-direction: column;
margin-top: 180px;
padding-right: 35px;
}

.paragraphs-container {
  margin: auto;
}



@media screen and (min-width: 650px){
  nav {
    justify-content: left;

  }
  nav ul {
    padding-left: 40px;
  }
 

} 
