/* DOM GENERATIONS
1. <html> 
2. <head>, <body> (children of <html>)
3. #root (child of <body>) 
4. .app (child of #root)
5. .image (child of .app)
6. .layout (child of .image)
7. <header>, <main>, <footer> (children of .layout)
8. .about (child of <main>)

<html> -> <head> 
<html> -> <body> -> #root -> .app -> .image -> .layout -> <header>
<html> -> <body> -> #root -> .app -> .image -> .layout -> <main> -> .about 
<html> -> <body> -> #root -> .app -> .image -> .layout -> <footer> 
 */

/* 
CSS Style Categories (Containers will be listed under each category):
-container positioning
-container size
-text color
-background color
-text styling
 */


/* ----------------------------------CONTAINER POSITION (INCLUDING FLEXBOX)----------------------------- */
/* position */
body, main, .layout, .about {
  position: static;
}
header, footer, .arrow-container-right, .arrow-container-left {
  position: fixed;
}
main {
  display: static;
}

/* display */
main, .layout, nav, nav ul, .about, footer, .skills-list-container, .href-container-container {
  display: flex;
}
main, .layout, .about {
  flex-direction: column;
}
nav ul, footer, .skills-list-container, .href-container-container {
  flex-direction: row;
}
.arrow-right, .arrow-left, .arrow{
  display: inline-block;
}

/* align-items/justify-content */
.about, .href-container-container {
  align-items: center;
}
nav, footer, .href-container-container {
  justify-content: center;
}

/* positional depth */
 footer {
    bottom: 0px;
  }
  .arrow-container-right, .arrow-container-left {
    top: 115px;
  }
 .arrow-container-right {
    right: 0px;
  }
  .arrow-container-left {
    left: 0px;
  }

/* ----------------------------------CONTAINER MARGIN/PADDING----------------------------- */
body {
  margin: auto;
  padding-left: 0px;
}
#root {
  padding-left: 0px;
}
.app {
  padding-left: 0px;
}
header {
  padding-left: 0px;
  padding-bottom: 20px;
}
.layout {
  padding-left: 0px;
}
main {
  margin-top: 125px;
}
.header-title {
  margin-top: 20px;
}
nav {
  margin-left: 20px;
  margin-right: 20px;
}
nav ul {
  padding-left: 0px;
}
footer {
  padding-left: 0px;
}
footer a {
  margin: 5px;
}
.arrow-container-right {
  padding-left: 0px;
  padding-right: 15px;
}
.arrow-container-left {
  padding-left: 15px;
  padding-right: 0px;
}
.arrow-right, .arrow-left, .arrow{
  margin-top: 35vh;
  margin-bottom: auto;
}
.contact-href-container {
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 20px;
  padding-right: 35px;
  padding-left: 35px;
  margin-left: auto;
  margin-right: auto;
}
.href-container-container {
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0px;
}
.container-for-image {
  margin-right: 0px;
}
.reservations-first-paragraph {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.reservations-bottom-half, .reservations-last-paragraph{
  margin-right: 20px;
  margin-left: 20px;
}
/* ----------------------------------CONTAINER DIMENSIONS------------------------------------ */
html {
  height: 100%;
  padding-left: -40px;
}
body {
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
.app {
min-height: 100vh;
}
.layout {
  width: 100%;
  height: auto;
}
footer {
  width: 100%;
}
.arrow-container-right {
  height: 100%;
  width: 35px;
}
.arrow-container-left {
  width: 35px;
  height: 100%;
}
img {
  width: 100%;
}
.container-for-image {
  width: 100%;
}
header {
  width: 100%;
  height: 100px;
}
/* ----------------------------------BACKGROUND/BORDER COLOR---------------------------------- */
body {
  background-color: #E0E0E0;
}
header {
  background-color: #DBDBDB;
}
footer {
  background-color: #E0E0E0;
}
.arrow-container-left:active .arrow-left{
  border-color: grey;
}
.arrow-container-right:active .arrow-right{
  border-color: grey;
}
.contact-href-container {
  background-color: #393a44;
}
.href-container-container {
  background-color: #C8C8C8; 
}
/* ----------------------------------TEXT STYLING/COLOR-------------------------------------- */
html {
  font-family: Sans-serif;
  line-height: 25px;
  font-weight: 500;
  font-size: 15px;
}
a {
  text-decoration: none;
}
body {
  color: #393a44;
}
header h3 {
  color: #393a44;
}
header h3:hover {
  color: black;
}
nav ul li a {
  color: #393a44;
}
footer p a {
  color: #373737;
}
nav ul {
  list-style: none;
}
nav ul a {
  color: white;
  text-decoration: none;
}
nav ul a:hover {
  color: grey;
}
.clicked-menu-nav a {
  color: grey;
}
.resume-link:hover {
  color: black;
}
 footer a:hover {
    color: grey;
}
 footer a:active {
    color: grey;
}
 footer a {
    text-decoration: none;
}
.arrow-right, .arrow-left, .arrow{
    font-size: 50px;
    font-weight: 0;
    color: white;
    text-shadow: 0 0 5px grey;
}
.contact-href-container a:hover {
  color: #B6B6B6;
}
.contact-href-container a {
  color: white;
}
.contact-href-container {
  color: white;
}

/* ----------------------------------TEXT/CHILD POSITIONING (maybe add justify content etc)--------------------------------- */
.page-sub-title {
  text-align: center;
}
.header-title {
  text-align: center;
}
footer {
  text-align: center;
}
.arrow-container-right {
  text-align: right;
}
.arrow-container-left {
  text-align: left;
}
.contact-href-container {
  text-align: left;
}
.href-container-container {
  text-align: center;
}
img {
  text-align: center;
}
.reservations-first-paragraph {
  text-align: left;
}
.container-for-image {
  text-align: center;
}
/* --------- *//* --------- *//* --------- *//* --------- *//* --------- *//* --------- */
/* --------- *//* --------- *//* --------- *//* --------- *//* --------- *//* --------- */
/* YET TO CONSOLIDATE BELOW */

@media screen and (min-width: 300px){
  nav ul li{
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 650px){
img, .container-for-image, .container-for-profile-image {
  float: left;
  padding-left: 0px;
  }
img {
  height: auto;
}
.page-sub-title {
  text-align: left;
  }
  main {
    padding: 0% 5% 5% 5%;
  }
.container-for-image {
  margin-right: 50px;
  margin-bottom: 50px;
  width: auto;
}
}

@media screen and (min-width: 650px){
  .reservations-first-paragraph {
    display: flex;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: auto;
    padding-left: auto;
  }
  .reservations-bottom-half {
    display: flex;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: auto;
    padding-left: auto;
  }
  .reservations-last-paragraph{
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
  }
  nav {
    justify-content: left;
  }
  nav ul {
    padding-left: 40px;
  }
  .arrow-container-right, .arrow-container-left{
    text-align: center;
  }
  .about {
    margin-left: 25px; 
  }
} 
/*--------------------------------------------------------------------------------*/

/* leave alone for now */
.arrow-right {
  border: solid;
  border-width: 0 5px 5px 0;
  padding: 3px;
  height: 12px;
  width: 12px;
  box-shadow: 3px 3px 3px grey;
  transform: rotate(-45deg);
}
.arrow-left {
  border: solid;
  border-width: 0 5px 5px 0;
  padding: 3px;
  height: 12px;
  width: 12px;
  box-shadow: 3px 3px 3px grey;
  transform: rotate(135deg);
}

.contact-href-container {
  line-height: 25px;
  box-shadow: 8px 8px 8px #494949;
  border-radius: 15px;
}
.box-shadow {
  box-shadow: 10px 10px 10px grey;
}

.href-container-container {
  border-radius: 5px;
  box-shadow: 8px 8px 8px #808080;
}
